<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <style>
      body {
          background-color: black;
          color: white;
      }
    </style>
    <!-- Include the ECharts file you just downloaded -->
    <script src=" https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js "></script>
  </head>
  <body>
    <!-- Prepare a DOM with a defined width and height for ECharts -->
    {{!-- <div id={{ id }} style="width:1912px; height:863px;"></div> --}}
    <div id={{ id }} style="width:{{width}}px; height:{{height}}px;"></div>
    {{!-- <div id={{ title }} style="width:100%; height:100%;"></div> --}}
    <script type="text/javascript">
      // Initialize the echarts instance based on the prepared dom
      let chart = echarts.init(document.getElementById('{{ id }}') {{#if theme }} , '{{ theme }}' {{ /if }});

      // Specify the configuration items and data for the chart
      let option = {{{ option }}};

      // Display the chart using the configuration items and data just specified.
      chart.setOption(option);
    </script>
</body>
</html>
